.display {
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 210px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 5px;
  border-radius: 5px;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.2), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.blank-div{
  width: 270px;
  height: 200px;
  background-color: #E3F2FD;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-text{
  margin: 5px;
  text-align: center;
}