.settings{
    width: 270px;
    height: 200px;
    background-color: #e3f2fd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

li{
    padding-left: 5px;
}

h3{
    margin: -5px;
    margin-left: 6px;
    margin-top: 7px;
}